@import "../../styles//globalStyles.scss";

.Home {
  width: 350px;
  height: 100vh;
  margin: 0 auto;
  background-color: $background;
  color: $color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > button {
    width: 172px;
    height: 88px;
    border-radius: 20px;
    margin-top: 41px;
    font-size: 25px;
    font-weight: $font-regular;
    line-height: 30.26px;
    cursor: pointer;
  }
}
